services:
  db:
    image: postgres:16-alpine
    container_name: spring_base_db
    environment:
      POSTGRES_DB: spring_base
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5438:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d spring_base"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: spring_base_app
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/spring_base
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
